@use "../color/Color.scss" as *;

.banner-about {
  & img {
    width: 100%;
    height: 230px;
    border-radius: 25px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  width: 100%;
  min-height: calc(100vh - 600px); // Ajustement plus précis
  padding-bottom: 30px; // Padding au lieu de margin
}
