.appart-container {
   display: flex;
   min-height: 50vh;
   flex-wrap: wrap;
   border-radius: 25px;
   background-color: lightgrey;
   gap: 10px;
   padding: 20px;
   justify-content: space-between;
   margin-top: 35px;
}

@media screen and (max-width: 768px) {
   .appart-container {
      background-color: white;
      padding: 0;
      justify-content: center;
   }
    
}