@use "../color/Color.scss" as *;

.appart-container {
  display: flex;
  border-radius: 25px;
  background-color: $background-color-2;
  padding: 56px 50px;
  margin-top: 43px;

  @media screen and (max-width: 768px) {
    background-color: transparent;
    padding: 0;
    margin-top: 22px;
  }
}
